
# Temporary files
*.swp
tmp/
local/

# MacOS Garbage
.DS_STORE

# Ignore object files
build/
bin/

# Ignore generated libraries
lib/*.so
lib/*.a

# Ignore vagrant files
.vagrant/

# Ignore all log files
*.log

